.container {
  display: flex;
  justify-content: center;
}

.mySwitchContainer {
  margin-top: 2rem;
  padding-right: 1.39rem;
  max-width: 11rem;
  position: relative;
  height: 10rem;
}

.mySwitch {
  width: 100%;
}

.DrawoutDown,
.DrawoutUp {
  position: absolute;
  max-width: 4rem;
}

.DrawoutUp {
  top: -1rem;
  left: 50.4%;
  transform: translateX(-50%);
}

.DrawoutDown {
  bottom: -1rem;
  left: 50.4%;
  transform: translateX(-50%) rotate(180deg);
}

.noSwitchContainer {
  margin-top: 2rem;
  max-width: 10rem;
  max-height: 10rem;
  display: flex;
  justify-content: center;
}

.noSwitch {
  min-height: 100%;
}
