.openModalInput{
    position: relative;
}

.OpenMenuDots{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    top: 2rem;
    cursor: pointer;
}