.row {
   
    transition: all 0.3s;
    cursor: pointer;
    &:hover{
        background-color: teal;
        color: aliceblue;
    }
   * {
    // overflow:hidden;
    // white-space:nowrap;
    // text-overflow: ellipsis;
  }
}
