.MyTable .scrollBlock {
  // width: clamp(500px, 100%, 900px);
  // outline: 1px solid red;
  // height: 80dvh;
  // height: 80dvh;
  // overflow-y: auto;
}

.tableContainer {
  flex: 1 1 auto;
  height: 85vh;
}

// .virtTableHeadRow {
//   padding: 8.8rem;
// }

.virtTableHeader{
  padding:0.8rem;
  position: relative;
}

.column {
  cursor: pointer;
  transition: all, 0.3s;
  position: relative;
  &:hover {
    box-shadow: 0 0 3px #000;
  }
}


.dragHandleIcon {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  right: -1rem;
  cursor: col-resize;
  font-size: 1.5rem;

}

