*{
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
 box-sizing: border-box;

}

body{
  overflow: hidden;
}

.app{
 display: grid;
 grid-template-columns: 1fr 35svw;
 grid-template-rows: 10svh 90svh;
 overflow-y: hidden ;
  
 /* grid-template-rows: 10vh 90vh; */

}

