.mainFlow {
 
  
  // width: 100%;
}



.reactFlow .highlight {
  outline:3px dashed #000;
}

.downloadJSON{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
padding: .5rem;
}

.currentNode{
  box-shadow: 0 0 0 1px blue;
  background-color: rgba($color: #42f6ff, $alpha: 0.3);
}

.stepsContainer{
  display: flex;
  gap: 1rem;
}