.header{
    // background-color: rgb(255, 255, 255);
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    grid-column: 1/-1;
    border: 1px solid gray;
}


.changeStepBtn{
    background-color: rgb(97, 136, 194);
    padding: 1rem;
    cursor: pointer;
}

.importJsonLabel{
    background-color: rgb(93, 148, 12);
    color: aliceblue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    & > input[type=file]{
        display: none;
    }
    &:hover{
        background-color: rgb(162, 226, 67);
    }
}

.navbarStep{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}


.addTrafaret{
    background-color: rgb(165, 169, 44);
    color: aliceblue;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    & > input[type=file]{
        display: none;
    }
    &:hover{
        background-color: rgb(162, 157, 9);
    }
}